*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    /* background-image: linear-gradient(to right, #460009 , #693139); */
}

.head{
    font-size: 44px;
    font-weight: bold;
    color: #2b6777;
}
.intr{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #2b6777;
}
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quiz button{
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #52ab98;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/* .quiz button a{
    text-decoration: none !important;
    color: #fff;
} */


.mainBody{
    display: none;
    width: 100%;
    /* display: flex !important; */
    justify-content: center !important;
}

.quizBody{
    margin-top: 20px;
    width: 50%;
    border: 1px solid #69000e;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.questionSec{
    font-size: 22px;
    font-weight: 450;
    margin-top: 10px;
    color: #69000e;
}
.options li{
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 10px;
    color: #69000e;
    cursor: pointer;
    padding: 5px;
}

.header{
    border-bottom: 1px solid #69000e;
    color: #69000e;
    padding: 10px 0px 10px 0px;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #69000e;
    padding: 10px;
    margin-top: 30px;
}
.footer h3{
    color: #69000e;
}
.footer button{
    width: 100px;
    border: 2px solid #69000e;
    color: #69000e;
    font-size: 20px;
    border-radius: 5px;
    background: transparent;
}

.footer button:hover{
    background-color: #69000e;
    color: #fff;
}


/* result section */

#resultBox{
    display: none;
}

.result{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.resultBox{
    border: 1px solid #69000e;
    border-radius: 5px;
    width: 400px;
}

.result div div p{
    font-size: 28px;
    font-weight: 600;
    color: #69000e;
}

.result div div{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    color: #69000e;
    border-top: 1px solid #69000e;
}